body {
  font-family: 'Tajawal', sans-serif;
  background: linear-gradient(to bottom, #1c1c2d, #2c2c3d);
  color: white;
  text-align: center;
  padding: 20px;
}

header, footer {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
}